.artworks {
  &-container {
    background-color: var(--white-10);
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
  }

  &-arts {
    display: grid;
    gap: 2rem 3rem;
    margin: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    position: relative;
  }
  &-image {
    &-enter {
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
      height: 18rem;
      display: block;
      img {
        transition: all 1.5s linear !important;
        &:hover,
        &:focus {
          transform: translateY(-0.5rem) scale(1.1);
        }
      }
      &:hover,
      &:focus {
        transform: translateY(-3px);
        box-shadow: rgb(0 0 0 / 15%) 0px 50px 80px -20px,
          rgb(0 0 0 / 30%) 0px 30px 50px -40px;
      }

      &-rank1 {
        margin: 3rem;
        height: 24rem;
      }
    }
    &-wrapper {
      height: 100%;
      box-shadow: rgb(0 0 0 / 15%) 0px 10px 60px -10px,
        rgb(0 0 0 / 30%) 0px 10px 40px -10px;
    }
  }
  &-practicesAndCopies {
    display: grid;
    gap: 1.3rem 3rem;
    margin: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    .artworks {
      &-image {
        &-enter {
          height: 13rem;
          display: block;
          &-rank1 {
            margin: 3rem;
            height: 20rem;
          }
        }
        &-wrapper {
          height: 100%;
        }
      }
    }
  }
}

.art {
  &-container {
    background-color: var(--white-10);
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
  }
  &-head-text {
    span {
      margin-right: 2rem;
    }
    border-bottom: 1px solid var(--grey-40);
    margin-bottom: 2rem;
  }
}
