.blog {
  &-header {
    position: relative;
  }
  &-cover-image {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 70%, 50% 100%, 100% 70%);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 70%, 50% 100%, 100% 70%);
    clip-path: polygon(100% 0, 0 0, 0 70%, 50% 100%, 100% 70%);
    background: linear-gradient(45deg, #bcb83e 0%, #284187 100%); //temp
    height: 30vh;
    position: relative;
    overflow: hidden;
    img {
      object-fit: contain !important;
    }
  }
  //   &-head-text {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 30vh;
  //     margin: auto;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     &-content {
  //       padding: 2rem;
  //       color: white;
  //     }
  //   }
  &-head-text {
    span {
      margin-right: 2rem;
    }
    border-bottom: 1px solid var(--grey-40);
    margin-bottom: 2rem;
  }

  &-container {
    background-color: var(--white-0);
    max-width: 65rem;
    margin: auto;
  }
  &-content {
    padding: 3rem;
    @media screen and (max-width: 500px) {
      padding: 3rem 1rem;
    }
  }
}
